html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 50em;
}

h2 {
  color: white;
  background-color: rgba(0, 0, 0, .5);
}

img {
  position: relative;
}

.banner {
  max-height: 500px;
}

.giant-space {
  overflow: hidden;
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 0;
}
